@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$bg-color: rgb(213, 213, 213);
$bg-button: rgb(108, 228, 237);
$primary-color-text: rgb(94, 94, 94);
$color-text-placeholder: rgb(213, 213, 213);

$font: "Raleway", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
}

#root {
    margin: 150px auto;
    max-width: 1100px;
    background-color: $bg-color;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px 0 100px;

}

.container {
    min-width: 600px;
    padding: 5px 20px;
    margin: 0 auto;
}

.btn {
    padding: 15px 10px;
    background-color: $bg-button;
    font-size: 20px;
    font-weight: 600;
    color: $primary-color-text;
    text-transform: capitalize;
    border-radius: 10px;
    border: 3px solid black;
    min-width: 150px;
}

.main {    
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;

    &__input {
        padding: 15px 10px;
        color: $primary-color-text;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        border-radius: 10px;
        border: 3px solid black;
        min-width: 500px;
    }
    &__btn2 {
        min-width: 220px;
    }
    &__input-search {
        min-width: 400px;
    }
}

.task {
    max-width: 700px;
    height: 150px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 3px solid black;
    margin-top: 40px;

    .span {
        display: block;
    }

    &__checkbox {
        display: none;
    }

    &__label {
        width: 50px;
        height: 30px;
        padding: 15px 10px;
        background-color: $bg-button;
        border-radius: 5px;
        border: 3px solid black;

        position: relative;
    }
    
    &__title {
        background-color: #FFF;
        padding: 15px 10px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        border-radius: 10px;
        min-width: 300px;
        flex-grow: 1;
        color: $primary-color-text;
    }
    &__inner-div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;


        width: 130px;
        height: 100%;
    }
    &__btn-close {
        border-radius: 5px;
        min-width: 50px;
        position: relative;

        &::before {
            content: '';
            display: block;
            background-image: url(/todo/media/close-no-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 60%;
            height: 60%;
    
            position: absolute;
            top: 20%;
            left: 20%;
        }
    }
    &__date {
        font-variant-numeric: lining-nums;
        background-color: #FFF;
        padding: 5px;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        border-radius: 5px;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        color: $primary-color-text;
    }
}

.label::before {
    content: '';
    display: block;
    background-image: url(/todo/media/label-no-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.title {
    text-decoration: line-through;
}

.task_bg {
    background-color: rgb(146, 146, 146);
}






